.container{
    background-color: #a3a3a3;
    background-image: url("./pattern.png");
    background-size: 100px;
   }
.cover{
    top:10%;
    background-color: #B4D0DA;
    border-radius: 10px;    /*모서리 둥근 정도*/
    border: 1px solid #738186;
    
    width: 950px;
    height: 650px;

    margin: 50px auto;   
    position: relative; /*위치를 계산할때 static의 원래 위치부터 계산한다.*/
    /*여기서 static은 기본값으로 위치를 지정하지 않았을때 쓰인다.*/
}
.radius_dot{
    position:absolute; /*절대 배치 */
    border: 3px dashed white;
    width: 920px;
    height: 620px;
    border-radius: 10px;

    margin: 12px;
}
.page{
    background-color: #dadada;
    
    width: 900px;
    height: 600px;
    border-radius: 10px;
    margin:10px;
    display: flex;
}
.font-color{color:red;}
.column1{
    flex:0.4;
    display: flex;
    flex-direction: column;
    margin:10px;
}
.row1{
    text-align: center;
    flex:0.3;
}
.box1{
    flex:5;
}

.column2{
    flex:1;
    display: flex;
    flex-direction: column;
    margin:10px;
}
.text{
    display:flex;
    flex:0.5;
}
.text1{
    flex:0.6;
}
.text2{
    flex:0.4;
}
.box2{
    flex:8;
}
.column3{
    flex: 0.2;
    flex-direction: column;
    margin: 10px;
    margin-left: -10px;
    
}

.white-box{
    background-color: white;
    border:1 solid #dadada;
    border-radius:10px;
}

.introduce{
    display:flex;
    flex-direction:column;
}
.introduce_me{
    flex:1;
    margin:20px;
    flex-direction: column;
    font-size:15px;
}
.main_photo{
    flex:1;
    flex-direction: column;
    margin:20px;
}
.sex{
    margin-top:100px;
    margin-left:20px;
    font-style: italic;
}
.update_news{
    flex-direction: column;
    flex:0.9;
    margin-left:10px;
    margin-top:20px;
    font-size:20px;
    color:royalblue;
}
.line{
    border-bottom: 1px solid gray;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom:10px;
}
.one{
    background-color:lightcoral;
    border-radius: 5px;
    color: white;
    margin: 10px;
    padding-left: 3px;
    padding-right: 4px;
}
.two{
    background-color:lightskyblue;
    border-radius: 5px;
    color: white;
    margin: 10px;
    padding-left: 3px;
    padding-right: 4px;
}
.miniroom{
    margin-left:10px;
    margin-top:50px;
    font-size:20px;
    color:royalblue;
}
.menubox{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
   
}
.blue-box{
    justify-content: space-around;
     border: 0.1px solid gray;
     border-radius: 0px 7px 7px 0px;
     margin-bottom: 10px;
     
     padding:5px;
     background-color: #4f85a7;
     color:white;
     text-decoration: none;
 
 }